flask
gunicorn
python-dotenv

requests
trafilatura
beautifulsoup4

pypdf
python-docx

langchain
langchain-groq
langgraph

flask_sqlalchemy
flask_migrate
psycopg2-binary

passlib[bcrypt]==1.7.4
bcrypt==3.2.2
